:root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
  .profile__perfil {
    width: 310px;
    height: 310px;
  }
   .profile__perfil img {
    width: 1000px;
    height: 280px;
  }
  .profile__border {
    width: 335px;
    height: 335px;
  }
  